.container {
    width: 100%;
    height: 97vh;
    /* background-color: aqua; */
    background-image: url('/image/image-optimization.webp');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button_start {
    width: 14rem;
    height: 4rem;
    color:#ffffff;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 20px;
    border: 2px solid green;
    background-color: rgb(123, 34, 119);
    opacity: 90%;
    margin-bottom: 10px;
    margin-top: 5px;
}

.try-again {
    display: none;
    width: 20rem;
    height: 4rem;
    color:#ffffff;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 20px;
    border: 2px solid green;
    background-color: rgb(123, 34, 119);
    opacity: 90%;
}

.levels__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 28rem;
    height: 3rem;
    background-color: rgba(56, 247, 50, .8);
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.form_levels {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: auto;
}

.form_levels label {
    font-weight: 500;
    font-size: 22px;
}

#submit {
    display: none;
    /* width: 20%;
    height: 2em;
    background-color: rgb(19, 155, 14);
    font-weight: 500;
    font-size: 16px;    
    border-radius: 17px; */
}

#level {
    width: 50%;
    height: 2em;
    background-color: rgb(19, 155, 14);
    border-radius: 17px;
    text-decoration: none;
    border-color: none;
}

.button_start:active, 
.try-again:active {
    background-color: yellow;
    transition: .2s;
    color: rebeccapurple;
    border: 2px solid red;
}

.counter {
    width: 55rem;
    height: 6rem;
    background-color: rgba(223, 241, 19, .3);
    border-radius: 20px;
    border: 2px solid green;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.counter__computer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 80%;
    background-color: red;
    border-radius: 20px;
    text-transform: uppercase;
    color:indigo;
    font-size: 29px;
    font-weight: 500;
}


.counter__player {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 80%;
    background-color: green;
    border-radius: 20px;
    text-transform: uppercase;
    color:indigo;
    font-size: 29px;
    font-weight: 500;
}

.table {
    width: 55rem;
    height: 37rem;
    background-color: rgba(240, 50, 50, 0.726);
    border: 2px solid black;
    margin-top: 10px;
    border-radius: 11px;
}

.table__cell {
    width: 10%;
    height: 10%;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid black;
}

.comp__win, .player__win {
    display: none;
    font-size: 30px;
    color: red;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}